* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
}
.App {
  display: grid;
  place-items: center;
  margin-top: 1rem;
}
h2 {
  margin-bottom: 1rem;
}
.center {
  display: grid;
  place-items: center;
  margin: 1rem;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.form-style {
  border: 1px solid #333;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
}
form {
  width: 80%
}
form input {
  margin-bottom: 1rem;
  padding: 1rem
}
form input,
textarea {
  width: 100%;
  padding: 1rem
}
button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
